# Java
*.class
*.jar
*.war
*.ear
target/
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.whl
*.egg
.eggs/
dist/
build/
*.log
pip-wheel-metadata/
.venv

# Go
*.exe
*.exe~
*.out
*.test
*.dSYM
vendor/

# LaTeX
*.aux
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.log
*.lot
*.toc
*.synctex.gz
*.eps
*.gz
*.out
*.lof
*.idx
*.ilg
*.ind
*.git
# IDEs and Editors
.vscode/
.idea/

# Operating System files
.DS_Store        # macOS
Thumbs.db        # Windows
desktop.ini      # Windows

# Other
*.swp            # Vim
*~               # Backup files

